{% extends "base.html" %}

{% block content %}
<!-- Header  End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>PRODUTOS</h4>
                        <div class="breadcrumb__links">
                            <a href="{{ url_for('index') }}">Home</a>
                            <span>Produtos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                            <form action="#">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="shop__sidebar__accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-heading">
                                        <a data-toggle="collapse" data-target="#">Categorias</a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="shop__sidebar__categories">
                                                <ul class="nice-scroll">
                                                    <li class="active"><a href="{{ url_for('espumantes') }}">Espumantes </a></li>
                                                    <li><a href="{{ url_for('vinhos') }}">Vinho Branco</a></li>
                                                    <li><a href="{{ url_for('vinhos_rose') }}">Vinho Rose e Laranja</a></li>
                                                    <li><a href="{{ url_for('vinhos_tinto') }}">Vinho Tinto </a></li>
                                                    <li><a href="{{ url_for('embalagens') }}">Embalagens Artesanais </a></li>
                                                    <li><a href="{{ url_for('novidades') }}">Novidades</a></li>

                                                                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                               
                                                       </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/espumantes/product-1.jpg') }}">
                                    <ul class="product__hover">
                                       
                                </div>
                                <div class="product__item__text">
                                    <center>
                                    <h6>Espumante Branco Brut LA Jovem - Vinícola Luiz Argenta, Brasil
                                        </h6>
                                        <h6> R$ 133,50</h6>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/espumantes/product-2.jpg') }}">
                                    <ul class="product__hover">
                                    
                                </div>
                                <div class="product__item__text">
                                    <center>
                                        <h6>Espumante Rosé Brut LA Jovem - Vinícola Luiz Argenta, Brasil

                                            </h6>
                                            <h6> R$ 133,50</h6>
                                        </center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/espumantes/product-3.jpg') }}">
                                    <ul class="product__hover">
                                        
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <center>
                                    <h6> Espumante Rosé Demi-Sec Bubble Audrey LA Jovem - Vinícola Luiz Argenta, Brasil

                                        </h6>
                                    <h6> R$ 133,50</h6>
                                </center>
                                </div>
                            </div>
                        </div>

                         <!-- a partir daqui --> 

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/espumantes/product-4.jpg') }}">
                                    <ul class="product__hover">
                                        
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <center>
                                    <h6> Espumante Branco Brut 24 meses sob leveduras LA Clássico - Vinícola Luiz Argenta, Brasil
                                        </h6>
                                    <h6>  R$ 172,40 </h6>
                                </center>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/espumantes/product-5.jpg') }}">
                                    <ul class="product__hover">
                                        
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <center>
                                    <h6>Espumante Rosé Brut 24 meses sob leveduras LA Clássico - Vinícola Luiz Argenta, Brasil
                                        </h6>
                                    <h6>  R$ 172,40 </h6>
                                </center>
                                </div>
                            </div>
                        </div>


   <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/espumantes/product-6.jpg') }}">
                                    <ul class="product__hover">
                                        
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <center>
                                    <h6>Espumante Branco Blanc de Noir 36 meses sob leveduras LA Cave - Vinícola Luiz Argenta, Brasil
                                        </h6>
                                    <h6>  R$ 290,40 </h6>
                                </center>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/espumantes/product-7.jpg') }}">
                                    <ul class="product__hover">
                                        
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <center>
                                    <h6>Espumante Branco Brut 48 meses sob leveduras LA Cave - Vinícola Luiz Argenta, Brasil

                                        </h6>
                                    <h6>  R$ 290,40 </h6>
                                </center>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/espumantes/product-8.jpg') }}">
                                    <ul class="product__hover">
                                        
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <center>
                                    <h6>Espumante Rosé de Noir 48 meses sob leveduras LA Cave - Vinícola Luiz Argenta, Brasil
                                        </h6>
                                    <h6>  R$ 313,80</h6>
                                </center>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/espumantes/product-9.jpg') }}">
                                    <ul class="product__hover">
                                        
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <center>
                                    <h6>Espumente Rosé Pét-Nat Unha de Gato Nature - Chardonnay, Pinto Noir e Merlot 2023 - Sanabria Laboratório de Vinhos Naturais, Brasil

                                        </h6>
                                    <h6>  R$ 160,00</h6>
                                </center>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/espumantes/product-10.jpg') }}">
                                    <ul class="product__hover">
                                        
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <center>
                                    <h6>Espumante Branco Pét-Nat Tina Turner Nature - Chardonnay e Pinot Noir 2022 - Sanabria Laboratório de Vinhos Naturais, Brasil
                                        </h6>
                                    <h6>  R$ 152,00</h6>
                                </center>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/espumantes/product-11.jpg') }}">
                                    <ul class="product__hover">
                                        
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <center>
                                    <h6>Espumante Branco Faísca Brut Branco - Chardonnay e Pinot Noir 2022 - Sanabria Laboratório de Vinhos Naturais, Brasil
                                        </h6>
                                    <h6>  R$ 120,00</h6>
                                </center>
                                </div>
                            </div>
                        </div>
              <!--quando for cadstrar mais produtos, desbloquear 

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/product-6.jpg') }}">
                                    <span class="label">Lançamento</span>
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/heart.png') }}" alt=""></a></li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/compare.png') }}" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/search.png') }}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Vinho 4</h6>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/product-7.jpg') }}">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/heart.png') }}" alt=""></a></li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/compare.png') }}" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/search.png') }}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Vinho 5</h6>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/product-8.jpg') }}">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/heart.png') }}" alt=""></a></li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/compare.png') }}" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/search.png') }}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Vinho 6</h6>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/product-9.jpg') }}">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/heart.png') }}" alt=""></a></li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/compare.png') }}" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/search.png') }}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Vinho 7</h6>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/product-10.jpg') }}">
                                    <span class="label">Novidade</span>
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/heart.png') }}" alt=""></a></li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/compare.png') }}" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/search.png') }}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Espumante 1</h6>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/product-11.jpg') }}">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/heart.png') }}" alt=""></a></li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/compare.png') }}" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/search.png') }}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Espumante 2</h6>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/product-12.jpg') }}">
                                    <span class="label">Promoção</span>
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/heart.png') }}" alt=""></a></li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/compare.png') }}" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/search.png') }}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Espumante 3</h6>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/product-13.jpg') }}">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/heart.png') }}" alt=""></a></li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/compare.png') }}" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/search.png') }}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Espumante 4</h6>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ url_for('static', filename='img/product/product-14.jpg') }}">
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/heart.png') }}" alt=""></a></li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/compare.png') }}" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="{{ url_for('static', filename='img/icon/search.png') }}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Espumante 5</h6>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__pagination">
                                <a class="active" href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <span>...</span>
                                <a href="#">21</a>

                            -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
{% endblock %}
